$primary-color: blue;
$secondary-color: #ff9a8a;
$third-color: #a09bd7;



//* FONT FAMILY

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500;1,600&display=swap');

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700,
);

$primary-font: "Poppins", sans-serif;